.detailedView{
  display: flex;
  flex-direction: row;
}

.detailedImage{
  position: absolute;
  left: 0%;
  height: 20vh;
}

.description{
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 30%;
  margin-left: 5%;
  margin-right: 2%;
}

.details{
  margin-top: 30vh;
  margin-left: 10%;
  max-width: 77%;
  text-align: left;
}

.details h2{
  text-align: center;
}